In [15]:
from yahoo_fin.stock_info import get_data
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="15/03/2024", index_as_date = True, interval="1d")
amazon_weekly

C:\Users\Administrator\AppData\Local\Programs\Python\Python310\lib\site-packages\yahoo_fin\stock_info.py:29: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  end_seconds = int(pd.Timestamp(end_date).timestamp())

,open,high,low,close,adjclose,volume,ticker
2009-12-04,7.171000,7.172500,6.755500,6.879000,6.879000,296548000,AMZN
2009-12-07,6.900000,6.950000,6.692000,6.710500,6.710500,156740000,AMZN
2009-12-08,6.715000,6.804000,6.643500,6.705500,6.705500,160056000,AMZN
2009-12-09,6.730000,6.735500,6.491000,6.565500,6.565500,252658000,AMZN
2009-12-10,6.620500,6.809500,6.620000,6.769000,6.769000,226872000,AMZN
...,...,...,...,...,...,...,...
2024-03-08,176.440002,178.789993,174.330002,175.350006,175.350006,37853500,AMZN
2024-03-11,174.309998,174.470001,171.470001,171.960007,171.960007,28484800,AMZN
2024-03-12,173.500000,176.759995,171.979996,175.389999,175.389999,36610600,AMZN
2024-03-13,175.899994,177.619995,175.550003,176.559998,176.559998,30772600,AMZN
2024-03-14,177.690002,179.529999,176.470001,178.750000,178.750000,43677900,AMZN

In [16]:
series_shift = amazon_weekly['close'].shift()
amazon_weekly['pre_close'] = series_shift
amazon_weekly['pre_open'] = amazon_weekly['open'].shift()

In [17]:
amazon_weekly

,open,high,low,close,adjclose,volume,ticker,pre_close,pre_open
2009-12-04,7.171000,7.172500,6.755500,6.879000,6.879000,296548000,AMZN,NaN,NaN
2009-12-07,6.900000,6.950000,6.692000,6.710500,6.710500,156740000,AMZN,6.879000,7.171000
2009-12-08,6.715000,6.804000,6.643500,6.705500,6.705500,160056000,AMZN,6.710500,6.900000
2009-12-09,6.730000,6.735500,6.491000,6.565500,6.565500,252658000,AMZN,6.705500,6.715000
2009-12-10,6.620500,6.809500,6.620000,6.769000,6.769000,226872000,AMZN,6.565500,6.730000
...,...,...,...,...,...,...,...,...,...
2024-03-08,176.440002,178.789993,174.330002,175.350006,175.350006,37853500,AMZN,176.820007,174.830002
2024-03-11,174.309998,174.470001,171.470001,171.960007,171.960007,28484800,AMZN,175.350006,176.440002
2024-03-12,173.500000,176.759995,171.979996,175.389999,175.389999,36610600,AMZN,171.960007,174.309998
2024-03-13,175.899994,177.619995,175.550003,176.559998,176.559998,30772600,AMZN,175.389999,173.500000
2024-03-14,177.690002,179.529999,176.470001,178.750000,178.750000,43677900,AMZN,176.559998,175.899994

In [18]:
amazon_weekly.dropna(inplace=True)
amazon_weekly

,open,high,low,close,adjclose,volume,ticker,pre_close,pre_open
2009-12-07,6.900000,6.950000,6.692000,6.710500,6.710500,156740000,AMZN,6.879000,7.171000
2009-12-08,6.715000,6.804000,6.643500,6.705500,6.705500,160056000,AMZN,6.710500,6.900000
2009-12-09,6.730000,6.735500,6.491000,6.565500,6.565500,252658000,AMZN,6.705500,6.715000
2009-12-10,6.620500,6.809500,6.620000,6.769000,6.769000,226872000,AMZN,6.565500,6.730000
2009-12-11,6.803500,6.814500,6.660000,6.707500,6.707500,160934000,AMZN,6.769000,6.620500
...,...,...,...,...,...,...,...,...,...
2024-03-08,176.440002,178.789993,174.330002,175.350006,175.350006,37853500,AMZN,176.820007,174.830002
2024-03-11,174.309998,174.470001,171.470001,171.960007,171.960007,28484800,AMZN,175.350006,176.440002
2024-03-12,173.500000,176.759995,171.979996,175.389999,175.389999,36610600,AMZN,171.960007,174.309998
2024-03-13,175.899994,177.619995,175.550003,176.559998,176.559998,30772600,AMZN,175.389999,173.500000
2024-03-14,177.690002,179.529999,176.470001,178.750000,178.750000,43677900,AMZN,176.559998,175.899994

# predict open price

In [21]:
X = amazon_weekly[["pre_close","pre_open"]].values
y = amazon_weekly["open"].values

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 32, test_size = 1/4)

In [28]:
ln = LinearRegression().fit(X_train, y_train)

In [29]:
y_pred = ln.predict(X_test)

In [32]:
for i in range(20):
    print(y_test[i], y_pred[i])

19.3700008392334 19.345837631865425
17.966999053955078 17.913325053306817
10.369999885559082 10.443723326962164
29.835500717163086 29.760708730705836
17.649999618530273 17.637400392232703
160.14999389648438 161.21090965525934
168.1614990234375 167.141057746773
122.75050354003906 122.35410351930618
26.872499465942383 26.84618414304291
12.654999732971191 12.696590365380464
89.98100280761719 89.7165706946495
11.31149959564209 11.274298117895189
178.36599731445312 177.64636813774118
129.5 127.98702281928102
41.63800048828125 41.80524078626607
11.696499824523926 11.751425834826406
6.397500038146973 6.472668453880283
160.5 159.59893544384994
33.39699935913086 33.10487785597205
17.10449981689453 17.13670878715466

In [30]:
from sklearn.metrics import mean_squared_error, r2_score

In [31]:
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print('Coefficient of determination (R^2): %.2f' % r2_score(y_test, y_pred))

Mean squared error: 1.13
Coefficient of determination (R^2): 1.00

## predict the close price

In [34]:
X = amazon_weekly[["pre_close","open"]].values
y = amazon_weekly["close"].values
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 32, test_size = 1/4)
ln = LinearRegression().fit(X_train, y_train)
y_pred = ln.predict(X_test)

for i in range(20):
    print(y_test[i], y_pred[i])

19.721500396728516 19.392507598501936
17.86750030517578 17.989719104357338
10.728500366210938 10.40417788512555
29.934499740600586 29.84507461657692
17.916000366210938 17.67416516692554
162.13800048828125 160.05400204080985
163.635498046875 168.0015141032193
121.84400177001953 122.65732831654404
26.75149917602539 26.8870226759779
12.388500213623047 12.686023297484743
89.32499694824219 89.92287322365144
11.565999984741211 11.34189747347188
178.6595001220703 178.20377111166147
127.51000213623047 129.36907380002526
41.12950134277344 41.64175976494476
11.70300006866455 11.728855507638038
6.5 6.435862398051878
164.33250427246094 160.35417547125985
33.42250061035156 33.39824743261214
17.159000396728516 17.130395915205078

In [35]:
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print('Coefficient of determination (R^2): %.2f' % r2_score(y_test, y_pred))

Mean squared error: 1.81
Coefficient of determination (R^2): 1.00